
<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>{$article_info.title}</title>
<meta name="keywords" content="{$tag_list}" />
<meta name="description" content="{$article_info.description}" />
<link href="{:C('TMPL_PATH')}/css/base.css" rel="stylesheet">
<link href="{:C('TMPL_PATH')}/css/style.css" rel="stylesheet">
<link href="{:C('TMPL_PATH')}/css/media.css" rel="stylesheet">
<link rel="stylesheet" href="{:C('TMPL_PATH')}/css/shCoreDefault.css">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
<include file="./Template/{:C('APP_DEFAULT_THEME')}/header.html" />
  <article>
    <h2 class="about_h">您现在的位置是：<a href="/">首页</a>><a href="{:U('/'.$catalog_info['url'])}">{$catalog_info['name']}</a>><a href="__SELF__">{$article_info.title}</a></h2>
    <div class="index_about">
      <h2 class="c_titile">{$article_info.title}</h2>
      <p class="box_c"><span class="d_time">发布时间：{$article_info.create_time|strtotime|date="Y-m-d",###}</span><span>编辑：{$article_info.writer}</span><span>浏览数：{$article_info.view_count}</span><span>来源：{$article_info.source}</span></p>
      <ul class="infos">
        {$article_info.content}
      </ul>
      <div class="keybq">
        <p><span>关键字词</span>：
        <volist name="tag_list" id="tag_vo">
          <a href="{:U('Search/index',array('q'=>$tag_vo['name']))}">{$tag_vo.name}</a>,
        </volist>
        </p>
      </div>
      <div class="nextinfo">
        <p>上一篇：<a href="{:U('/'.$prev_article_info['url'])}">{$prev_article_info.title}</a></p>
        <p>下一篇：<a href="{:U('/'.$next_article_info['url'])}">{$next_article_info.title}</a></p>
      </div>
      <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
          <volist name="relevant_artilce_list" id="relevant_artilce_vo">
              <li><a href="{:U('/'.$relevant_artilce_vo['url'])}" title="现在，我相信爱情！">{$relevant_artilce_vo.title}</a></li>
          </volist>
        </ul>
      </div>
    </div>
  </article>
  <aside>
    <div class="ph_news">
      <h2>
        <p>点击排行</p>
      </h2>
      <ul class="ph_n">
        <volist name="click_article_list" id="click_article_vo">
        <if condition="$i lt 4">
          <li><span class="num{$i}">{$i}</span><a href="{:U('/'.$click_article_vo['url'])}">{$click_article_vo.title}</a></li>
        <else />
          <li><span>{$i}</span><a href="{:U('/'.$click_article_vo['url'])}"{$click_article_vo.title}</a></li>
        </if>
      </ul>
    </div>
    <div class="copyright">
      <ul>
        <p> Design by <a href="/">DanceSmile</a></p>
        <p>蜀ICP备11002373号-1</p>
        </p>
      </ul>
    </div>
  </aside>
  <script src="{:C('TMPL_PATH')}/js/silder.js"></script>
  <script src="{:C('TMPL_PATH')}/js/shCore.js"></script>
  <script>
  SyntaxHighlighter.highlight();
  </script>
  <div class="clear"></div>
  <!-- 清除浮动 -->
</div>
</body>
</html>
