
<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>{$catalog_info.title|default=$catalog_info['name']}</title>
<meta name="keywords" content="个人博客模板,博客模板,响应式" />
<meta name="description" content="如影随形主题的个人博客模板，神秘、俏皮。" />
<link href="{:C('TMPL_PATH')}/css/base.css" rel="stylesheet">
<link href="{:C('TMPL_PATH')}/css/style.css" rel="stylesheet">
<link href="{:C('TMPL_PATH')}/css/media.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  <include file="./Template/default/header.html" />
  <article>
    <h2 class="about_h">您现在的位置是：<a href="{:U('/')}">首页</a>><a href="__SELF__">{$catalog_info['name']}</a></h2>
    <div class="bloglist">
      <volist name="article_list" id="article_vo">
        <div class="newblog">
        <ul>
          <h3><a href="{:U('/'.$article_vo['url'])}">{$article_vo.title}</a></h3>
          <div class="autor"><span>作者：{$article_vo.writer}</span><span>浏览（<a href="{:U('/'.$article_vo['url'])}">{$article_vo.view_count}</a>）</span></div>
          <p>{$article_vo.description} <a href="{:U('/'.$article_vo['url'])}" target="_blank" class="readmore">全文</a></p>
        </ul>
        <figure><img src="{:C('TMPL_PATH')}/images/001.jpg" ></figure>
        <div class="dateview">{$article_vo.create_time|strtotime|date="Y-m-d",###}</div>
      </div>
      </volist>
    </div>
    <div class="page">
      <volist name="page_list" id="page_vo">
        <switch name="page_vo.name">
          <case value="first">
            <neq name="page_vo.status" value="disabled">
              <a href="{$page_vo.url}">{$page_vo.page}</a>
            </neq>
          </case>
          <case value="prev">
            <neq name="page_vo.status" value="disabled">
              <a href="{$page_vo.url}">{$page_vo.page}</a>
            </neq>
          </case>
          <case value="list">
            <eq name="page_vo.status" value="now">
              <b>{$page_vo.page}</b>
            <else />
              <a href="{$page_vo.url}">{$page_vo.page}</a>
            </eq>
          </case>
          <case value="next">
            <neq name="page_vo.status" value="disabled">
              <a href="{$page_vo.url}">{$page_vo.page}</a>
            </neq>
          </case>
          <case value="last">
            <neq name="page_vo.status" value="disabled">
              <a href="{$page_vo.url}">{$page_vo.page}</a>
            </neq>
          </case>
        </switch>
      </volist>
    </div>
  </article>
  <aside>
    <div class="ph_news">
      <h2>
        <p>点击排行</p>
      </h2>
      <ul class="ph_n">
        <volist name="click_article_list" id="click_article_vo">
        <if condition="$i lt 4">
          <li><span class="num{$i}">{$i}</span><a href="{:U('/'.$click_article_vo['url'])}">{$click_article_vo.title}</a></li>
        <else />
          <li><span>{$i}</span><a href="{:U('/'.$click_article_vo['url'])}"{$click_article_vo.title}</a></li>
        </if>
        </volist>
      </ul>
    </div>
    <div class="copyright">
      <ul>
        <p> Design by <a href="/">DanceSmile</a></p>
        <p>蜀ICP备11002373号-1</p>
        </p>
      </ul>
    </div>
  </aside>
  <script src="{:C('TMPL_PATH')}/js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 -->
</div>
</body>
</html>
